body {
	margin: 0;
	padding: 0;
}
.container {
	width:1024px;
	margin:0 auto;
}
aside {
	width:200px;
	float:left;
}
section {
	float:left;
	margin-left:40px;
}
header {
	border-radius: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	height: 75px;
	width: 784px;
	margin-bottom: 65px;
}
.content p {
	font-weight:bold;
}
.content p:last-child {
	color:#7a7a7a;
	font-weight:normal;
}
.as-header {
	font-size: 14px;
	margin-bottom: 37px;
	padding-top: 175px;
	line-height: 1.5;
}
.as-article {
	font-size: 14px;
	line-height: 1.5;
}
.navigation {
	list-style: none;
	padding-top: 25px;
}
.navigation li {
	display: inline;
	margin-right: 30px;
	padding-left: 15px;
}
li:nth-child(2) a {
	color:#14731b;
}
li:nth-child(3) a {
	color:#0e73d9;
}
li:nth-child(4) a {
	color:#dd4c00;
}
li:nth-child(5) a {
	color:#333333;
}
li:nth-child(6) a {
	color:#b60700;
}
.top-form {
	float: left;
}
.progress-bar {
	float:left;
}
.progress-steps {
	list-style: none;
}
.progress-steps li {
	float:left;
	display: inline-block;
	text-align:center;
	width:108px;
	height:20px;
	border-left: 1px solid white;
	margin-top:10px;
	-webkit-box-shadow: inset 0px 2px 5px -2px rgba(92,91,92,1);
	-moz-box-shadow: inset 0px 2px 5px -2px rgba(92,91,92,1);
	box-shadow: inset 0px 2px 5px -2px rgba(92,91,92,1);
}
.progress-steps li:nth-child(1) {
	border-radius: 5px 0 0 5px;
}
.progress-steps li:nth-child(5) {
	border-radius:0 5px 5px 0;
}
.step-ready {
	background-color:#39a518;
	color:#fff;
}
.step-in-progress {
	color:#fff;
	background-color:#9fd206;
}
.step-not-ready {
	background-color: #f6f6f6;
}
legend {
	clear:both;
	padding-top: 40px;
}
hr {
	background-color: gray;
	border: medium none;
	color: gray;
	height: 1px;
	left: 158px;
	margin: 0;
	position: relative;
	top: -10px;
	width: 625px;
}
.left-col {
	float: left;
	height: 220px;
	margin-right: 40px;
	padding: 4px;
	width: 210px;
}
.left-col input[type="text"]{
	width:187px;
}
.left-col input[type="radio"] {
	display: none;
}
.left-col .radio label {
	padding:3px 15px;
	display:inline-block;
	position:relative;
	cursor:pointer;
	border-radius: 8px;
}
.left-col input[type="radio"]:checked + label {
	background-color:#9fd206;
	border-radius:8px;
	color:#fff;
	padding:3px 15px;
}
.center-col {
	float: left;
	height: 220px;
	margin-right: 40px;
	padding: 4px;
	width: 210px;
}
.center-col input[type="text"] {
	width:187px;
}
.center-col input[type="radio"] {
	display:none;
}
.center-col .radio label {
	padding:3px 15px;
	display:inline-block;
	position:relative;
	cursor:pointer;
	border-radius: 8px;
}
.center-col input[type="radio"]:checked + label {
	background-color:#9fd206;
	border-radius:8px;
	color:#fff;
	padding:3px 15px;
}
.right-col {
	float: left;
}
.right-col input[type="text"] {
	width:210px;
}
.right-col select {
	width:210px;
}
.bottom-col {
	clear:both;
	padding-top: 20px;
}
.bootom-col > input {
	width:100%;
}
.bottom-col input[type="text"] {
	width:99%;
}
.buttons{
	background-color: #f2f2f2;
	height: 70px;
	width: 100%;
}
.btn {
	width:120px;
	height:35px;
	color:#fff;
	border-radius: 25px;
	margin-top: 19px;
	cursor: pointer;
}
.back {
	background-color:#aaaaaa;
}
.Next {
	background-color:#9ccf05;
	float: right;
}